@font-face {
	font-family: "Fanwood Text";
	src: url("./fanwoodtext/FanwoodText.ttf");
}

@font-face {
	font-family: "Catamaran";
	src: url("./catamaran/Catamaran.ttf");
}

@font-face {
	font-family: "Open Sans";
	src: url("./opensans/OpenSans.ttf");
}

body {
opacity: 0;
margin: 0;
transition: all .4s;
overflow-x: hidden;
-webkit-tap-highlight-color: transparent;
}

#nav {
margin: 0;
font-family: 'Catamaran';
font-weight: 600;
font-size: 50px;
}

#left {
z-index: 2;
float: left;
width: max-content;
position: absolute;
left: 23px;
top: 20px;
cursor: pointer;
font-family: 'Open Sans';
}

#right {
font-weight: 600;
transition: all .2s;
font-family: 'Catamaran';
float: right;
position: absolute;
right: 5%;
width: max-content;
top: 20px;
}

#desc {
text-align: right;
transition: all .2s;
position: absolute;
width: 203px;
height: 16px;
right: 5%;
top: 86px;
font-family: 'Open Sans';
font-weight: 400;
font-size: 12px;
color: rgba(0, 0, 0, 0.25);
}

.card {
display: none;
position: absolute;
right: 5%;
left: 5%;
height: 175px;
text-align: center;
cursor: pointer;
margin-top: 144px;
transition: all .2s;
}

#card-image {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: 1;
}

#body {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.card:hover {
transform: scale(1.1);
transition: all .2s;
}

#card-title {
position: absolute;
background-color: black;
width: max-content;
font-family: 'Fanwood Text';
font-size: 20px;
height: auto;
padding: 10px;
left: 0;
bottom: 0;
color: white;
}

#card-edit {
display: none;
background-color: black;
position: absolute;
color: white;
text-align: center;
padding-top: 10px;
right: 0;
top: 0;
width: 41px;
height: 30px;
transition: all .4s;
}	
